
/*mike*/
/* Common styles */
.text_big {
    font-size: 1rem;
    line-height: 1.5rem;
}

.text_semibold {
    font-weight: 600;
}

.text_bold {
    font-weight: 800;
}

.bg_blue {
    background-color: #F9FEFF;
}

.wrapper-boxed {
    max-width: 1280px;
}

.mt-2rem {
    margin-top: 2rem;
}

/* Register form */

.register-info_wrp {
    margin: 5rem auto 0rem;
}

.register__note_spc,
.register__title_spc {
    margin: 0 auto;
    color: #354052;
}

.register_form {
    padding-left: 2rem;
    padding-right: 2rem;
    background-color: #FFFFFF;
}

/* Register buttons */

.register_btn-wrp {
    display: flex;
    margin-top: 2rem;
    margin-bottom: 1.5rem;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.register__acc-link {
    font-size: 0.75rem;
    line-height: 1rem;
}

.register__acc-link_spc {
    padding: 10px 16px;
    display: block;
}

@media screen and (max-width: 576px) {
    .register__acc-link_spc {
        order: 2;
    }
}


.to-mainpage-link {
    color: #5075D3;
    font-size: 1.125rem;
    line-height: 1.5rem;
    display: block;
    position: relative;
}

.to-mainpage-link:before {
    content: "â†";
    position: absolute;
    margin-left: -1.5rem;
    font-size: 14px;
}

/* Sing-in forms */

.sign-in__nav-link {
    border: none !important;
    color: #354052;
    padding: 0.75rem 1rem;
}

.sign-in__acc-link {
    font-size: 1rem;
    line-height: 1.5rem;
}

.sign-in_btn-wrp {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.sign-in__lbl-small {
    color: #007ce5;
    font-size: 0.875rem;
    line-height: 1.25rem;
}
/*end mike*/


body,html{
    /*font-size: 1rem;*/
}

.card{
    border: 1px solid #DFECFF;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius:10px;
    overflow: hidden;
}

.sidebar-toggle{
    opacity: 0.5;
    transition: opacity 0.3s;
}
.sidebar-toggle:hover{
    opacity: 1;
}
.sidebar-dropdown .sidebar-item a.sidebar-link, .sidebar-dropdown .sidebar-item a.sidebar-link:hover, .sidebar-dropdown .sidebar-item.active a.sidebar-link{
    background-image: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.25 7.625C5.49061 7.625 4.875 7.00939 4.875 6.25C4.875 5.49061 5.49061 4.875 6.25 4.875C7.00939 4.875 7.625 5.49061 7.625 6.25C7.625 7.00939 7.00939 7.625 6.25 7.625ZM11.75 7.625C10.9906 7.625 10.375 7.00939 10.375 6.25C10.375 5.49061 10.9906 4.875 11.75 4.875C12.5094 4.875 13.125 5.49061 13.125 6.25C13.125 7.00939 12.5094 7.625 11.75 7.625ZM6.25 13.125C5.49061 13.125 4.875 12.5094 4.875 11.75C4.875 10.9906 5.49061 10.375 6.25 10.375C7.00939 10.375 7.625 10.9906 7.625 11.75C7.625 12.5094 7.00939 13.125 6.25 13.125ZM11.75 13.125C10.9906 13.125 10.375 12.5094 10.375 11.75C10.375 10.9906 10.9906 10.375 11.75 10.375C12.5094 10.375 13.125 10.9906 13.125 11.75C13.125 12.5094 12.5094 13.125 11.75 13.125ZM1.4375 6.9375C1.0578 6.9375 0.75 6.6297 0.75 6.25C0.75 5.8703 1.0578 5.5625 1.4375 5.5625C1.8172 5.5625 2.125 5.8703 2.125 6.25C2.125 6.6297 1.8172 6.9375 1.4375 6.9375ZM1.4375 12.4375C1.0578 12.4375 0.75 12.1297 0.75 11.75C0.75 11.3703 1.0578 11.0625 1.4375 11.0625C1.8172 11.0625 2.125 11.3703 2.125 11.75C2.125 12.1297 1.8172 12.4375 1.4375 12.4375ZM16.5625 6.9375C16.1828 6.9375 15.875 6.6297 15.875 6.25C15.875 5.8703 16.1828 5.5625 16.5625 5.5625C16.9422 5.5625 17.25 5.8703 17.25 6.25C17.25 6.6297 16.9422 6.9375 16.5625 6.9375ZM16.5625 12.4375C16.1828 12.4375 15.875 12.1297 15.875 11.75C15.875 11.3703 16.1828 11.0625 16.5625 11.0625C16.9422 11.0625 17.25 11.3703 17.25 11.75C17.25 12.1297 16.9422 12.4375 16.5625 12.4375ZM6.25 2.125C5.8703 2.125 5.5625 1.8172 5.5625 1.4375C5.5625 1.0578 5.8703 0.75 6.25 0.75C6.6297 0.75 6.9375 1.0578 6.9375 1.4375C6.9375 1.8172 6.6297 2.125 6.25 2.125ZM11.75 2.125C11.3703 2.125 11.0625 1.8172 11.0625 1.4375C11.0625 1.0578 11.3703 0.75 11.75 0.75C12.1297 0.75 12.4375 1.0578 12.4375 1.4375C12.4375 1.8172 12.1297 2.125 11.75 2.125ZM6.25 17.25C5.8703 17.25 5.5625 16.9422 5.5625 16.5625C5.5625 16.1828 5.8703 15.875 6.25 15.875C6.6297 15.875 6.9375 16.1828 6.9375 16.5625C6.9375 16.9422 6.6297 17.25 6.25 17.25ZM11.75 17.25C11.3703 17.25 11.0625 16.9422 11.0625 16.5625C11.0625 16.1828 11.3703 15.875 11.75 15.875C12.1297 15.875 12.4375 16.1828 12.4375 16.5625C12.4375 16.9422 12.1297 17.25 11.75 17.25Z' fill='%231A051D'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: left 1rem center;
}

.sidebar-dropdown .sidebar-item.active a.sidebar-link{
    color:#669BF2;
}


.balance{
    font-size: 100%;
    line-height: 19px;
    color: #354052;
}
.balance__sum{
    font-weight: 900;
    font-size: 100%;
    white-space: nowrap;
}

.btn-secondary,.btn-secondary:focus{
     color: #444!important;
     border-radius: 2rem;
     border: 3px solid #ffd900!important;
     cursor: pointer;
     font-weight: 700;
     text-align: center!important;
    background-color:#fff!important;
    transition: background-color 0.3s;
    padding: 0.4rem 1.5rem;
 }
.btn-secondary:hover{
    color: #fff!important;
    background-color: #ffd900!important;
    border: 3px solid #ffd900!important;
}
.btn-secondary-sm{
    padding: .2rem .7rem;
}

.btn-primary,.btn-primary:focus{
    color: #444;
    border-radius: 2rem;
    border: 3px solid #ffd900!important;
    cursor: pointer;
    font-weight: 700;
    text-align: center!important;
    transition: background-color 0.3s;
    color: #596270!important;
    background-color: #ffd900!important;
    padding: 0.4rem 1.5rem;
}
.btn-primary:hover{
    border: 3px solid #ffd900!important;
    background-color:#fff!important;
    color: #596270!important;
}

.btn-secondary--black,.btn-secondary--black:focus{
    border: 1px solid #333333!important;
    background-color: white!important;
    transition: all 0.3s;
}
.btn-secondary--black:hover{
    border: 1px solid #ffd900!important;
    background-color: #ffd900!important;
}

.custom-file-lg {
    height: calc(2.2rem + 2px);
}
.custom-file-lg .custom-file-input{
    height: calc(2.2rem + 2px);
    padding: .35rem 1rem;
    font-size: 1rem;
    line-height: 1.5;
}
.custom-file-lg .custom-file-label{
     height: calc(2.2rem + 2px);
    white-space: nowrap;
    overflow: hidden;
 }
.custom-file-lg .custom-file-label:after{
    height: 2.2rem;
}
.custom-file-lg .custom-file-label, .custom-file-lg .custom-file-label:after {
    padding: .35rem 1rem;
    line-height: 1.5;
}

.modal-dialog--alert{
    max-width: 400px;
}
.modal-title{
    font-weight: bold;
    font-size: 1rem;
    line-height: 1.25rem;
    color: #596270;
}

.modal-body{
    font-weight: normal;
    font-size: 0.9rem;
    line-height: 1.2rem;

    color: #565E6A;
}

.user-menu__trigger{
    line-height: 22px;
    font-size: 100%;
    color:rgba(53,64,82,0.7)!important;
    transition: color 0.3s;
    white-space: nowrap;
}
.user-menu__trigger:hover{
    color: rgba(53,64,82,1) !important;
}
.user-menu__trigger:before {
    display: inline-block;
    vertical-align: bottom;
    width: 16px;
    height: 22px;
    content: "";
    background: url(../img/user-icon.svg) no-repeat;
}


.documents-list{

}
.document-item{
    margin-bottom:0.5rem;
}
.document-item a{
    display: block;
    font-style: normal;
    font-weight: normal;
    font-size: 0.75rem;
    color: #3D6BB7;
    line-height: 1rem;
    background-image: url("data:image/svg+xml,%3Csvg width='17' height='20' viewBox='0 0 17 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.7316 20H0.634544C0.289862 20 0.0141161 19.7227 0.0141161 19.3761V8.83882C0.0141161 8.4922 0.289862 8.2149 0.634544 8.2149C0.979226 8.2149 1.25497 8.4922 1.25497 8.83882V18.7175H15.0767V1.2825H7.56266V7.03639C7.56266 7.38302 7.28691 7.66031 6.94223 7.66031H0.634544C0.393267 7.66031 0.151989 7.52166 0.0485843 7.27903C-0.0548203 7.0364 0.0141161 6.7591 0.186457 6.58579L6.49414 0.17331C6.56308 0.103986 6.63202 0.0693241 6.70095 0.034662C6.76989 0.034662 6.83882 0 6.94223 0H15.7316C16.0763 0 16.3521 0.277296 16.3521 0.623917V19.3414C16.3865 19.7227 16.0763 20 15.7316 20ZM2.18561 6.37782H6.3218V2.18371L2.18561 6.37782Z' fill='%23517DBE'/%3E%3C/svg%3E%0A");
    background-position: left center;
    background-repeat: no-repeat;
    padding-left:2rem;
    padding-top:0.25rem;
    padding-bottom:0.25rem;
}

.link-like{
    background: transparent;
    color:#3D6BB7;
    border:none;
    display: inline;
}
.invest-table{
    border-top:1px solid #DFECFF !important;
    border-bottom:1px solid #DFECFF!important;
}
.invest-table tbody{
    font-size:0.9rem;
}
.invest-table .progress{
    height: 1.5rem;
    max-width: 170px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}
.dataTables_paginate .pagination li a{
    line-height: 1.6rem;
}
.dataTables_paginate .pagination li:first-child a{
    -webkit-border-radius: 20px 0 0 20px;
    -moz-border-radius: 20px 0 0 20px;
    border-radius: 20px 0 0 20px;
}
.dataTables_paginate .pagination li:last-child a{
    -webkit-border-radius: 0 20px 20px 0;
    -moz-border-radius: 0 20px 20px 0;
    border-radius: 0 20px 20px 0;
}

.rating{
    font-weight: 900;
}

.rating--app{
    color:#35FF3D;
}
.rating--ap{
    color:#A6FF35;
}
.rating--a{
    color:#6AFF35;
}
.rating--bpp{
    color:#DAF824;
}
.rating--bp{
    color:#E4F23E;
}
.rating--b{
    color:#ED9B3B;
}
.invest-table tbody tr{
    cursor: pointer;
}
.invest-table--legend tbody tr, .invest-table--simple tbody tr{
    cursor: initial;
}
.table-hover.invest-table tbody tr:hover{
    background-color: #EFF5FF;
}


.invest-table thead th{
    height: 2rem;
    padding-bottom:1rem;
}
.invest-table thead th span{
    border-bottom:1px dotted #596270;
}
.invest-table--legend  thead th span,.invest-table--simple  thead th span{
    border-bottom:0;
}
.invest-table .loan-options{
    min-width: 150px;
}
.invest-table .loan-options .row .col:last-child{
    padding-left: 0;
}
.invest-table .dtr-details{
    width: 100%;
}
.invest-table .dtr-details li{
    display:flex;
    flex-wrap: wrap;
}
.invest-table .dtr-details li .dtr-title{
    flex: 0 0 auto;
    width: auto;
    max-width: 100%;

}
.invest-table .dtr-details li .dtr-data{
    padding-left:1rem;
    flex-basis: 0;
    -webkit-box-flex: 1;
    flex-grow: 1;
    max-width: 100%;
}
#invest-table_wrapper>.row:last-child{
    align-items: center;
}

.invest-selected{
    font-size: 18px;
    line-height: 25px;
}

.invest-sum-input{
    min-width: 50px;
    max-width: 100px;
    text-align: center;
}

.invest-fast{
    position: absolute;
     transform: translateY(calc(-0.75rem - 100%));
}




.loaner .progress{
    height: 1.5rem;
    max-width: 200px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}

.loaner__params{
    line-height: 1.25rem;
}
.light-blue{
    color:#84F8DC;
}
.light-yellow{
    color:#ffd900;
}

.tab-title{
    font-weight: 600;
}

.tab-pane .loaner__verification-list{
    margin-left:-1.25rem;
    margin-right:-1.25rem;
}
.verification--positive{
    color:#84F8DC;
}
.verification--negative1{
    color:#F4C315;
}
.verification--negative2{
    color:#F41515;
}


.money, term, date, percent{
    white-space: nowrap;
}



.message-container{
    position: fixed;
    z-index: 100;
    right:1rem;
    bottom:1rem;
}
.message-container .alert{
    min-width: 150px;
}



